@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  /* https://tailwindcss.com/docs/colors#default-color-palette-reference */
  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);

  --color-stone-50: oklch(0.985 0.001 106.423);
  --color-stone-100: oklch(0.97 0.001 106.424);
  --color-stone-200: oklch(0.923 0.003 48.717);
  --color-stone-300: oklch(0.869 0.005 56.366);
  --color-stone-400: oklch(0.709 0.01 56.259);
  --color-stone-500: oklch(0.553 0.013 58.071);
  --color-stone-600: oklch(0.444 0.011 73.639);
  --color-stone-700: oklch(0.374 0.01 67.558);
  --color-stone-800: oklch(0.268 0.007 34.298);
  --color-stone-900: oklch(0.216 0.006 56.043);
  --color-stone-950: oklch(0.147 0.004 49.25);

  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  --color-red-300: oklch(0.808 0.114 19.571);
  --color-red-400: oklch(0.704 0.191 22.216);
  --color-red-500: oklch(0.637 0.237 25.331);
  --color-red-600: oklch(0.577 0.245 27.325);
  --color-red-700: oklch(0.505 0.213 27.518);
  --color-red-800: oklch(0.444 0.177 26.899);
  --color-red-900: oklch(0.396 0.141 25.723);
  --color-red-950: oklch(0.258 0.092 26.042);

  --color-black: #000;
  --color-white: #fff;

  --background: var(--color-neutral-100);
  --background-accent: var(--color-neutral-200);
  --text-primary: var(--color-neutral-800);
  --text-muted: var(--color-neutral-600);
  --text-very-muted: var(--color-neutral-500);
  --border: var(--color-neutral-300);
  --error: var(--color-red-600);

  --border-radius: 0.5rem;

  --typography-spacing-top: 2rem;
  --typography-spacing-bottom: 1rem;
}

html.dark {
  --background: var(--color-neutral-800);
  --background-accent: var(--color-neutral-700);
  --text-primary: var(--color-neutral-300);
  --text-muted: var(--color-neutral-400);
  --text-very-muted: var(--color-neutral-500);
  --border: var(--color-neutral-600)
}

*,
*::before,
*::after {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

button {
  color: inherit;
}

html,
body {
  height: 100dvh;
  font-family: sans-serif;
  line-height: 1.5;
  background: var(--background);
  color: var(--text-primary);
  overscroll-behavior: none;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: env(safe-area-inset-bottom);
}

main {
  overflow-y: auto;
  flex-grow: 1;
}

html.modal-is-open main {
  overflow: hidden;
  padding-right: calc(1rem + var(--scrollbar-width));
}

h1 {
  font-size: 2rem;
  line-height: 1.125;
  margin-bottom: var(--typography-spacing-bottom);
}

h2 {
  font-size: 1.75rem;
  line-height: 1.15;
  margin-top: var(--typography-spacing-top);
  margin-bottom: var(--typography-spacing-bottom);
}

p {
  margin-bottom: var(--typography-spacing-bottom);
}

ol {
  margin-bottom: var(--typography-spacing-bottom);
}

ul {
  margin-bottom: var(--typography-spacing-bottom);
}

hgroup {
  margin-bottom: var(--typography-spacing-bottom);

  >* {
    margin-bottom: 0;
  }

  >p {
    color: var(--text-muted);
  }
}


.note-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  h2 {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.25rem;
    color: var(--text-muted);
  }
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  /*   background: var(--background-accent); */

  /*   &:not(:last-child) {
    border-bottom: 1px solid var(--border);
  } */

  h3 {
    font-size: 1rem;
    font-weight: normal;
  }
}

.note-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-muted);

  svg {
    height: 1rem;
    width: 1rem;
  }
}

.icon {
  display: inline-block;
  background: none;
  border: none;
  padding: 0.25rem;
  line-height: 0;
}
